/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 16px;
  list-style-type: none;
  justify-content: center;
}

.gallery-item {
  flex-basis: calc((100% - (360 * 3)) / 2);
}

.gallery-item {
  width: 376px;
  height: 208px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-image:hover,
.gallery-image:focus {
  width: 376px;
  height: 208px;
}

.gallery-link {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: all 0.3s ease-in-out;
}
.feedback-form {
  padding: 30px;
  border-radius: 12px;
  max-width: 400px;
  margin: 0 auto;
  font-family: sans-serif;
}

.feedback-form label {
  display: block;
  margin-bottom: 20px;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 12px 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.feedback-form textarea {
  resize: none;
}

.feedback-form button[type="submit"] {
  background-color: #4E75FF;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}